body {
    background-image: url(../images/back.jpg);
    background-size: cover;
}

header {
    background-image: url(../images/flag.jpg);
    background-size: cover;
    background-position: top;
    font-family: 'Fugaz One', cursive;
    height: 50px;
    padding-top: 10px;
}

footer {
    background-image: url(../images/flag.jpg);
    background-size: cover;
    background-position: bottom;
    font-family: 'Fugaz One', cursive;
    height: 50px;
    padding-top: 10px;
}